.header {
    display: flex;
    justify-content: flex-end;
}

.header-content {
    width: 49%;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.product {
    border-style: dashed;
    border-width: 1px;
    width: 49%;
}

.compare-panel {
    width: 49%;
}

.compare-list {
    display: flex;
    justify-content: space-evenly;
}

.compare-item {
    border-style: dashed;
    border-width: 1px;
    position: relative;
    display: inline-block;
}

.compare-item-delete-button {
    position: absolute;
    top: 2px;
    right: 2px;
}