.header-container {
    display: flex;
    justify-content: space-between;
}

.product {
    border-style: dashed none dashed dashed;
    border-width: 1px;
    width: 50%;
}

.product-with-compare-panel {
    border-style: dashed ;
    border-width: 1px;
    width: 49%;
}

.compare-panel {
    /* border: dashed;
    border-width: 1px; */
    width: 49%;
}

.compare-list {
    display: flex;
    justify-content: space-evenly;
}

.compare-item {
    border-style: dashed;
    border-width: 1px;
    position: relative;
}

.compare-item-delete-button {
    position: absolute;
    top: 2px;
    right: 2px;
}